<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Printing" %></title>
    <%= csrf_meta_tags %>

  	<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ["Montserrat:400,700","Bitter:400,700","Droid Serif:400,700","Open Sans:300,400,600,700,800"]
        }
      });
    </script>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  	<script type="text/javascript"> function hideProgress(){ document.getElementById('loader').style.display = 'none'; } </script>
  </head>
 	<body>
 		<%= render 'layouts/navbar' %>
  	<%= yield %> 
 	 	<%= javascript_include_tag "application" %>
	</body>
</html>
